@import "~@fontsource/catamaran/800.css";

@import "~@fontsource/lato/400.css";

$catamaran: "Catamaran", sans-serif;
$lato: "Lato", sans-serif;

$font-family-base: $lato;

$headings-font-family: $catamaran;

$headings-font-weight: 800;

ul {
  list-style-type: none;
  padding-left: 0 !important;
}
